body
{
    background-color: lightgray;
    min-width: 100%;
}

.content
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    border-style: inset;
    width: 860px;
}

.item
{
    border-style: outset;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    width: 500px;
    height: 160px;
}

.itemList
{
    position: relative;
    left: 20px;
}

.categoryList
{
    border-style: outset;
    background-color: lightgray;
    position: absolute;
    width: 190px;
    right: 350px;
}

h1
{
    position: relative;
    left: 10px;
}
h2
{
    color: green;
    position: relative;
    top: -175px;
    left: 220px;
}

h3
{
    color: dodgerblue;
    position: relative;
    top: -190px;
    left: 220px;
}

h4
{
    color: red;
    position: relative;
    left: 400px;
    top: -160px;
}

h5
{
    color: red;
    position: relative;
    left: -30px;
    font-size: 20px;
    top: -20px;
}

p
{
    position: relative;
    top: -200px;
    left: 220px;
}

ul
{
    list-style-type: none;
}

li
{
    position: relative;
    top:-45px;
    left: -20px;
}
